
.header {
    --header-background: #fff;
    --header-height: 40px;
    --header-color: #35393C;
    --font-size: 12pt;
    --border-color: #ededed;
    --navbar-width: 1024px;
    --primary: #425672;
    --boxshadow: 3px 3px 3px rgba(#35393C, 0.5);
    
    position: fixed;
    background-color: var(--header-background);
    top: 0px;
    vertical-align: middle;
    line-height: var(--header-height);
    height: var(--header-height);
    left: 0px;
    width: 100vw;
    z-index:500;
    font-size: var(--font-size);
    border-bottom: 1px solid var(--border-color);
    transition: all .25s;
}

.header {

    .navbar {
        width: 100%;
        height:100%;
        top: 0;
        position: relative;
        &.center{
            max-width: var(--navbar-width);
            margin: 0px auto;
        }
    }

    & h1,
    &  > * {
        display: block;
        vertical-align: middle;
        height: var(--header-height);
        line-height: var(--header-height);
        margin: 0px;
        font-size: var(--font-size);
    }

    &  .logo {
        margin-left: 5px;
        float: left;
        color: var(--header-color);
        transition: all .25s;

        &:hover {
            color: var(--primary);
        }
    }

    & label.menu {
        float: right;
        cursor: pointer;
        color: var(--primary);
        margin-right: 10px;
        vertical-align: super;
    }

    & input[type=checkbox].menu {
        visibility: hidden;
    }

    & input[type=checkbox].menu:checked ~ ul.menu {
        display: inline-block;
        box-shadow: var(--box-shadow);
    }

    & ul.menu {
        transition: all .25s;   
        height: auto;
        display: none;
        position: absolute;
        top: var(--header-height);
        padding: 0;
        max-width: 100%;
        margin: 0;
        min-width: 150px;
        overflow: auto;
        z-index:800;
        background: var(--header-background);
        right: 0px;
        border-radius: 2px;
        border-left: 1px solid var(--border-color);
    
        & > li {
            display: block;
            list-style-type: none;
            line-height: 1.5rem;

            &::before{
                content: none;
            }

            form.search, a {
                display: block;
                padding:  5px 0px 5px 20px;
                color: var(--font-color);
                text-decoration: none;
                /*width: 100%;*/
                background: none;

                transition: all .25s;

                button,
                input{
                    border: none;
                    background: none;
                    height: calc(var(--header-height) - 10px);
                    padding: 0;
                    margin :0;
                    outline: 0;
                    font-size: var(--font-size);
                    color: var(--footer-font-color);
                }
                
                input[type=text]{
                    border-bottom: 1px solid var(--header-color);
                }
            }
            
            a:hover {
                color: var(--primary);
                text-decoration: underline;
            }

            &.menu-item-has-children > a::after {
                content: '';
                position: relative;
                top: 0.5rem;
                width: 0; 
                height: 0; 
                border-left: 5px solid transparent;
                border-right: 5px solid transparent;
                border-top: 5px solid var(--primary);
                border-bottom: 5px solid transparent;
            }

            &.menu-item-has-children:hover > a::after {
                border-top: 5px solid transparent;
                border-bottom: 5px solid var(--primary);
                top: -0.6rem;
            }


            ul {
                display: none;
                padding-left: 10px;
                & > li {
                    display: block;
                    list-style-type: none;
                    line-height: 1.5rem;
                    &::before{
                        content: none;
                    }
                }
                
            }

            &:hover ul {
                display: block;
            }
        }
    }

    img, svg {
        stroke: var(--primary);
        height: calc(var(--header-height) - 10px);
        vertical-align: middle;
        &:hover {
            stroke: var(--primary);
        }
    }

    &::after {
        clear: both;
    }
}


.has-menubar {
    margin-top: var(--header-height);
}