$primary: #25c42d !default;
$background-color: darken(#ededed,15%) !default;

.loader {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 5px solid $background-color;
    border-top: 5px solid $primary;
    animation: loader 1.2s linear infinite;
}

@keyframes loader {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  