
.gallery,
.kg-gallery-card {
    position: relative;
    overflow: hidden;
    
    .gallery-container
    .kg-gallery-container {
        white-space: nowrap;
        display: flex;
        flex-direction: column;

        .kg-gallery-row {
            display: flex;
            flex-direction: column;
            .kg-gallery-image {
                font-size: 1rem;
	            display: inline-block;
	            white-space: normal;
	            vertical-align: top;
	            height: 100%;
	            width: 100%;
	            background: none 50% no-repeat;
	            background-size: cover;
            }
        }
    }
}