
.gallery,
.kg-gallery-card {
    position: relative;
    overflow: hidden;
    
    .gallery-container,
    .kg-gallery-container {
        white-space: nowrap;
        display: flex;
        flex-direction: column;

        .gallery-row,
        .kg-gallery-row {
            display: flex;
            flex-direction: column;
            .gallery-image
            .kg-gallery-image {
                flex: 1;
                font-size: 1rem;
	            display: block;
	            white-space: normal;
	            vertical-align: top;
	            /*height: 100%;
	            width: 100%;*/
	            background: none 50% no-repeat;
	            background-size: cover;
            }
        }
    }
}