.kg-embed-card {
    position: relative; padding-top: 56.25%; padding-top: 30px; height: 0; overflow: hidden;
    iframe {
        position: absolute; top: 0; left: 0; width: 100%; height: 100%; 
    }

    figcaption {
        position: absolute;
        bottom: 25%;
    }
}

.fluid-width-video-wrapper {
    position: relative;
    overflow: hidden;
    padding-top: 56.25%;
}


.fluid-width-video-wrapper iframe,
.fluid-width-video-wrapper object,
.fluid-width-video-wrapper embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}