/* 
** Copyright 2020 Benjamin 'Benno' Falkner
*/ 

/* CONFIG */
$full-width: 980px !default;

/* MODIFIER */
.content {
    max-width: $full-width;
    padding: 0px 0px 10px;
    margin: 0px auto 5px;

    p, h1,h2,h3,h4,h5,h6 {
        padding: 0 0.5rem;
    }
}